@tailwind base;
@tailwind components;
@tailwind utilities;
/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a39f9f;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #aaaaaa;
}

.ql-editor {
  min-height: 150px;
}
.ql-toolbar .ql-video {
  margin: 0 auto;
  display: block;
  width: 100%;
}

.ql-video {
  width: 100%;
  height: 250px;
}

.ql-image {
  width: 100%;
  height: 150px;
}

.ql-tooltip.ql-editing {
  margin-top: -30px !important;
  left: 60px !important;
}

.resize-handle {
  width: 100%;
  height: 10px;
  background-color: #ccc;
  cursor: s-resize;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1000;
}
